nav.mb-5 {
    margin: 0px
}
.nav-item { 
    display: inline-flex 
}

.navbar {
    height: 100px;
}

a.navbar-brand {
    font-size: 2.25rem
}

a.nav-link {
    font-size: 1.25rem;
    margin-right: 20px
}