.jumbotron {
    background-image: url("../../images/bookshelf.jpg");
    text-align: center;
    padding: 0;
    size: 50%;
    color: white;
    height: 400px;
    opacity: 0.70;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-shadow: 3px 3px navy;
  }

