
.form-control {
    /* margin-bottom: 10px; */
    position: absolute;
    bottom: 200px;
    left: 350px;
    width: 100px;
    right: 40px;
    margin: 20px;
    padding: 16px;
    background-color: white;
}

input[type=text] {
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    line-height: 2rem
  }

.btn {
    position: absolute;
    bottom: 200px;
    left: 900px;
    width: 100px;
    margin: 20px;
    padding: 16px;
}
